<%- contentFor('title') %>
<title>Editar</title>

<%- contentFor('body') %>

<div class="container">
    <div class="search-bar">            
        <input type="text" placeholder="Buscar usuário...">
        <button id="pesquisar">Pesquisar</button>
    </div>

    <div class="usuarios" id="usuarios-container">
        <!-- Os dados dos usuários serão inseridos aqui pelo JavaScript -->
    </div>
        
    <div class="search-bar">            
        <input type="text" placeholder="Buscar jogo...">
        <button id="pesquisar2">Pesquisar</button>
    </div>

    <div class="jogos" id="jogos-container">
        <!-- Os dados dos jogos serão inseridos aqui pelo JavaScript -->
    </div>

    <div class="botao-adicionar-div">
        <a class="botao-adicionar" href="/editar-jogo/new?user=<%= user["id"] %>"></a>
    </div>

</div>