body, html {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
.header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9a6eec;
    color: #2B2B2B;
    padding: 20px 20px;
}
.logo {
    font-size: 1.8em;
    font-weight: bold;
    padding-left: 25px;
}
.logo img {
    height: 75px; 
    border-radius: 50%;
    vertical-align: middle;
    width: 90px;
}
.nav {
    display: flex;
    gap: 100px;
    background-color: #CBB7F1; 
    color: #2B2B2B;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px 50px;
}
.nav a {
    color: #2B2B2B;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s ease;
}
.nav a:hover {
    color: #c8e6c9;
}
.nav .active {
    border-bottom: 2px solid #0d0e0d;
}

.header .acesso{
    justify-content: start;
    display: flex;
}

.header .acesso a{
    color: #2B2B2B;
    font-size: 1.0em;
    font-weight: bold;
    padding-right: 80px;
}

.container {
    background-color: #2b2b2b;
    padding: 20px;
}

.search-bar {
    display: flex;
    justify-content: flex-start;
    margin: 20px auto;
    padding: 15px 0; 
    margin-bottom: 20px;
    width: 80%;
    position: relative;
}

.search-bar input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #c4c4c4;
    border-radius: 20px;
}

.search-bar button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #cbb7f1;
    color: #2b2b2b;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bababa;
    color: #2b2b2b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    top: 100%; 
    right: 0; 
}

.dropdown-content a {
    color: #2b2b2b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
}

.post {
    padding: 15px;        
    width: 90%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(223, 217, 217, 0.1);
}

.post:hover {
    background-color:black;
}

.post h2 {
    margin-top: 0;
    color: #c4c4c4;
}

.post p {
    color: #c4c4c4;
}

.post-link {
    text-decoration: none;
    color: inherit;
}

.post-link:hover {
    opacity: 0.9;
}

.tags {
    cursor: pointer;
    display: inline-block;
    color: #2b2b2b;
    background-color: #cbb7f1; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    padding: 8px 12px; 
    font-size: 10px; 
    font-weight: bold; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.post-header {
    display: flex; 
    align-items: center; 
    margin-bottom: 15px; 
}
.post-header img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px; 
}

.post-header .nickname {
    font-weight: bold;
    color: #cbb7f1;
}
.post-actions {
    margin-top: 10px;
}
.post-actions button {
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.post-actions .like {
    background-color: #F6B7B7;
    color: #2b2b2b;
}

.post-actions .comment {
    background-color: #E4BBF7;
    color: #2b2b2b;
}

.post-actions .share {
    background-color: #7BDFEF;
    color: #2b2b2b;
}

.like:hover {
    background-color: #ee5e5e;
}

.heart-icon {
    width: 15px;
    height: 15px;
    fill: #2b2b2b;
}

.like.active .heart-icon {
    fill: white;
}

.comment-icon {
    width: 15px;
    height: 15px;
    fill: #2b2b2b;
}

.comment:hover {
    background-color: #6d079c;
}

.share:hover {
    background-color: #0056b3;
}

.share-icon {
    width: 15px;
    height: 15px;
    fill: #2b2b2b;
}

/* Ícone flutuante */
.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.chat-icon img {
    width: 50%;
    height: 50%;
}

/* Caixa de mensagens */
.chat-window {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    background-color: #2b2b2b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex-direction: column;
}


.chat-header {
    background-color: #cbb7f1;
    color: #2b2b2b;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-messages {
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    flex: 1;
}

#closeChat {
    cursor: pointer;
}

.chat-message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.chat-message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-details {
    background-color: #c4c4c4;
    font-size: 12px;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
}

.chat-details .nickname {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.header .perfil{
    justify-content: start;
    display: flex;
    gap: 150px;
}

.header .perfil .usuario{
    margin-right: 60px;
}

.header .perfil .moedas .simbolo-moeda{
    font-size: 2.5em;
    margin-bottom: 10px;
}

.header .perfil .usuario .username{
    color: #2b2b2b;
}

.user-icon {
    width: 40px; 
    margin: auto;
    height: 40px; 
    padding: 5px;
    margin-bottom: 5px;
}

.user-icon img {
    width: 100%; 
    height: 100%; 
    border-radius: 50%; 
    object-fit: cover; 
}