<%- contentFor('title') %>
<title>Editar</title>

<%- contentFor('body') %>

<div class="container">
        
    <div class="descricao-produto">
        <h3 class="cabecalho-descricao">Jogo: </h3>
        <input id="nome" value='<%= jogo["nome"] %>' class="descricao">
    </div>

    <div class="botoes-editar">
        <button class="botao-salvar" onclick="editarJogo()">Salvar</button>
        <button class="botao-excluir" onclick="excluirJogo()">Excluir</button>
    </div>
</div>