<%- contentFor('title') %>
<title>Esquecer senha</title>

<%- contentFor('body') %>

<div class="container">
    <div class="coluna-esquerda">
        <h1>Grape Cards</h1>
        <p class="slogan">O melhor lugar para encontrar cartas de jogos de cartas no Brasil!</p>
    </div>
    <div class="coluna-direita">
        <div class="buttons">
            <div class="botão-dark">
                <a href="#" class="theme-switch">Switch mode</a>
            </div>
            <div class="botões-fontes">
                <button id="increaseFont">A+</button>
                <button id="decreaseFont">A-</button>
            </div>
        </div>
        <div class="forms">
            <form id="f2">
                <h2>Informe o seu nome de usuário para a recuperação de senha.</h2>
                <p>Usuário <input type="text" name="username"></p>
                <p><input id="btok_recuperar" type="submit" value="Recuperar"></p>
            </form>
        </div>
    </div>
</div>