<%- contentFor('title') %>
<title>Produtos</title>

<%- contentFor('body') %>

<div class="publicidade">
    <img src="/img/publicidade.png" alt="publicidade">
</div>

<div class="container">

    <div class="search-bar">            
        <input type="text" placeholder="Buscar carta...">
        <button id="pesquisar">Pesquisar</button>
        <button id="filterButton">Filtros</button>
        <div class="dropdown-content" id="dropdownContent">
            <% for (var i=0; i<jogos.length; i++) {%>
                <a href="#" onclick=setupJogos('<%= jogos[i]["nome"] %>')><%= jogos[i]["nome"] %></a>
            <% } %>
        </div>
    </div>

    <div class="jogos", id="jogos">
        <!-- As cartas serão inseridas aqui via Fetch API -->
    </div>
</div>