<%- contentFor('title') %>
<title>Meus Produtos</title>

<%- contentFor('body') %>

<div class="publicidade">
    <img src="/img/publicidade.png" alt="publicidade">
</div>

<div class="container">

    <div class="cabecalho">
        <h1><%= dono["username"] %></h1>
        <img src=<%= dono["icon"] %> alt="Ícone do usuário">
    </div>

    <div class="jogo" id="div-a-venda">
        <div class="nome-jogo"><h2>Produtos à venda</h2></div>
        <div id="cartas-container" class="cartas">
            <!-- As cartas serão inseridas aqui via Fetch API -->
        </div>
        
    </div>

    <div class="jogo">
        <div class="nome-jogo"><h2>Produtos vendidos</h2></div>
        <div id="cartas-vendidas" class="cartas">
            <!-- As cartas serão inseridas aqui via Fetch API -->
        </div>
    </div>

    <div class="jogo">
        <div class="nome-jogo"><h2>Aquisições</h2></div>
        <div id="cartas-compradas" class="cartas">
            <!-- As cartas serão inseridas aqui via Fetch API -->
        </div>
    </div>
</div>