<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <%- title %>
    <link rel="stylesheet" href=<%= css %>>
</head>


<body id="bd">

    <%- body %>
    
    <script src="../src/script.js"></script> 
</body>

</html>