body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

/* Estilo para o container das colunas */
.container {
  display: flex;  
  min-height: 100vh;  
  font-family: 'Verdana', sans-serif;
}

/* Estilo para a coluna da esquerda */
.coluna-esquerda {
  flex: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/logo.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  display: flex;
  text-align: center; 
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  flex-direction: column;
}

/* Estilo para a coluna da direita */
.coluna-direita {
  flex: 2;
  background-color: white;
  display: flex;
  flex-direction: column;
}

/* Estilo para os botões de cima */
.buttons {
  display: flex;
  justify-content: space-between; 
  align-items: start;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

/* Estilo para o botão switch */
.theme-switch {
  padding: 10px 20px;
  background-color: #5322ad; 
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
}

/* Estilo para os botões de fonte */
#increaseFont, #decreaseFont {
  color: #5322ad;
  background-color: #ffffff;
  font-size: 9px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.forms {
  flex: 1; 
  display: flex;
  align-items: center; 
  justify-content: center;
}

/* Estilo geral do formulário */
.coluna-direita form {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    flex-direction: column;
}
  
  /* Título do formulário */
  .coluna-direita form h1 {
    margin-bottom: 20px;
    color: #5322ad;
    text-align: center;
  }

  /* Título do esquecer senha */
  .coluna-direita form h2 {
    margin-bottom: 20px;
    color: #5322ad;
    text-align: center;
  }
  
  /* Estilo dos rótulos (labels) */
  .coluna-direita form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  /* Estilo dos campos de entrada */
  .coluna-direita form input[type="text"],
  .coluna-direita form input[type="email"],
  .coluna-direita form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none; 
    border-bottom: 1px solid #7c31d3; 
    box-sizing: border-box;
    font-size: 16px;
  }
  
  /* Foco nos campos de entrada */
  .coluna-direita form input[type="text"]:focus,
  .coluna-direita form input[type="email"]:focus,
  .coluna-direita form input[type="password"]:focus {
    background-color: #ebe9e9;
    outline: none;
  }
  
  /* Estilo do botão de envio */
  .coluna-direita form [type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #5322ad;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  /* Hover e foco no botão de envio */
  .coluna-direita form button[type="submit"]:hover,
  .coluna-direita form button[type="submit"]:focus {
    background-color: #5322ad;
    outline: none;
  }

  /* Estilo do link "Esquecer Senha e Cadastro" */
.link {
  display: inline-block;
  color: #5322ad; 
  text-decoration: none; 
  font-size: 14px; 
  margin-top: 10px;
  text-align: center;
  width: 100%
}


/* Estilo do link quando o cursor está sobre ele */
.link:hover {
  text-decoration: underline; 
}

/* Estilo para o elemento select */
.coluna-direita form select {
  border: 1px solid #7c31d3;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  box-sizing: border-box;
}

  /* Responsividade */
  @media (max-width: 600px) {
    .coluna-direita form {
      padding: 15px;
    }
  }